apiVersion: v1
kind: ConfigMap
metadata:
  name: azure-vote-config
  namespace: {{ app_namespace }}
data:
  REDIS: "redis"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: azure-vote-back
  namespace: {{ app_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: azure-vote-back
  template:
    metadata:
      labels:
        app: azure-vote-back
    spec:
      imagePullSecrets:
        - name: acr-secret
      containers:
      - name: azure-vote-back
        image: "{{ acr_login_server }}/redis:6.0.8"
        env:
        - name: ALLOW_EMPTY_PASSWORD
          value: "yes"
        ports:
        - containerPort: 6379
        volumeMounts:
        - mountPath: /data
          name: redis-storage
      volumes:
      - name: redis-storage
        emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ app_namespace }}
spec:
  selector:
    app: azure-vote-back
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: azure-vote-front
  namespace: {{ app_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: azure-vote-front
  template:
    metadata:
      labels:
        app: azure-vote-front
    spec:
      imagePullSecrets:
        - name: acr-secret
      containers:
      - name: azure-vote-front
        image: "{{ acr_login_server }}/azure-vote-front:v1"
        ports:
        - containerPort: 80
        env:
        - name: REDIS
          valueFrom:
            configMapKeyRef:
              name: azure-vote-config
              key: REDIS

---
apiVersion: v1
kind: Service
metadata:
  name: azure-vote-front
  namespace: {{ app_namespace }}
spec:
  selector:
    app: azure-vote-front
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer
